.welcome {
  padding-bottom: 100px;
  background-color: #f2f8fb;
}

.welcome__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 24px;
}

.welcome__city {
  margin: 80px 0 10px 0;
  grid-area: 1 / 2 / 2 / 8;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #aaaaaa;
}

.welcome h1 {
  grid-area: 2 / 2 / 3 / 8;
  z-index: 1;
}

.welcome__text {
  margin: 10px 0 40px 0;
  grid-area: 3 / 2 / 4 / 8;
  z-index: 1;

  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
}

.welcome__button {
  margin-bottom: 90px;
  grid-area: 4 / 2 / 5 / 4;
}

.welcome__pic {
  grid-area: 1 / 6 / -1 / -1;
}

.welcome__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome__list {
  padding: 0;
  margin: 10px 0 0 0;
  grid-area: 5 / 2 / 6 / 5;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.welcome__item {
  margin-right: 73px;
}

.welcome__item:last-child {
  margin-right: 0;
}

.welcome__link {
  width: 44px;
  height: 44px;
  display: block;
}

.welcome__link--facebook {
  background-image: url("../img/fb_icon.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url("../img/fb-hover_icon.svg");
  }

  &:focus {
    background-image: url("../img/fb-hover_icon.svg");
    outline: none;
  }
}

.welcome__link--instagram {
  background-image: url("../img/ins_icon.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url("../img/ins-hover_icon.svg");
  }

  &:focus {
    background-image: url("../img/ins-hover_icon.svg");
    outline: none;
  }
}

.welcome__link--vk {
  background-image: url("../img/vk_icon.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url("../img/vk-hover_icon.svg");
  }

  &:focus {
    background-image: url("../img/vk-hover_icon.svg");
    outline: none;
  }
}

.welcome__controls {
  grid-area: 5 / 6 / 6 / -1;
  display: grid;
  grid-template-columns: auto auto 1fr;
  z-index: 1;
}

.welcome__btn {
  width: 105px;
  height: 66px;
  padding: 0;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.welcome__btn--left {
  background-image: url("../img/arw_left_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 16px;

  &:hover {
    background-image: url("../img/arw_left-hover_icon.svg");
  }

  &:focus {
    background-image: url("../img/arw_left-hover_icon.svg");
    outline: none;
  }
}

.welcome__btn--right {
  background-image: url("../img/arw_right_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 16px;

  &:hover {
    background-image: url("../img/arw_right-hover_icon.svg");
  }

  &:focus {
    background-image: url("../img/arw_right-hover_icon.svg");
    outline: none;
  }
}

.welcome__page {
  margin: 10px 30px 0 0;
  text-align: right;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}
